
RewriteEngine on

<Limit GET POST>
#The next line modified by DenyIP
order allow,deny
#The next line modified by DenyIP
#deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>

AuthName afsoh.com
IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 77.88.25.27
deny from 77.88.25.1/32
deny from 77.88.25.2/31
deny from 77.88.25.4/30
deny from 77.88.25.8/29
deny from 77.88.25.16/28
deny from 77.88.25.32/27
deny from 77.88.25.64/26
deny from 77.88.25.128/25
deny from 82.80.230.228

# Google Analytics Integration - Added by cPanel.
<IfModule mod_substitute.c>
AddOutputFilterByType SUBSTITUTE text/html
Substitute "s|(<script src='/google_analytics_auto.js'></script>)?</head>|<script src='/google_analytics_auto.js'></script></head>|i"
</IfModule>
# END Google Analytics Integration

# Always use https for secure connections
# Replace 'afsoh.com' with your domain name
# (as it appears on your SSL certificate)
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)$ https://www.afsoh.com/$1 [R=301,L]
# Use PHP53 as default
